body {
    margin: 0;
}

h1, h2 {
    color: white;
    size: 400px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    border-right: 200px;

}

.j1 {
    font-weight: 900;
    display: flex;
}
